<div class="volume-outer">
    <div class="volume-inner">
        <img class="volume" title="ボリューム調整" src="/img/pikoplayer.png">
    </div>
</div>
<div class="clear"></div>
<style lang="scss">
.volume-outer {
    overflow: hidden;
    width: 50px;
    height: 18px;
    float: right;
}
.volume-inner {
    margin-left: -36px;
}
.volume {
    max-width: 86px;
}
.clear {
    clear: both;
}
</style>